.features-section .feature {
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.features-section .feature:hover {
  transform: translateY(-10px);
}

.features-section .icon-wrapper {
  font-size: 3rem; /* Adjust icon size */
  color: #007bff; /* Customize to your theme */
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.features-section .feature-content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #05407f;
}

.features-section .feature-content p {
  color: #666;
  font-size: 1rem;
  margin: 10px 0 20px;
}

.features-section .readme span {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.features-section .readme:hover span {
  text-decoration: underline;
}
