.container.text-center .roww {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-container .ah {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.containerf {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: fixed;
  color: #004a75;
}

.containerf h4{
  color: white;
}
.features-section.spad.gradient-bgp{
  background: none;
  background-color: #09101a;
}
.containerf .row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerp .row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}