.hero {
  /* background-image: url(''); */
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2c1b0;
  text-align: center;
  width: 100%;

}

.hero__inner {
  max-width: 800px;
}

.hero__title {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero__subtitle {
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.hero__cta {
  margin-top: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--primary {
  background-color: #81a336
  ;
  color: #fdf1f1;
}

.button--primary:hover {
  background-color: #81a336
;
}