.team-section{
    /* background-image: url('./img/low-poly-grid-haikei.svg'); */
    background-color: black;
}
.containerT{
    align-items: center;
}
.containerT .team-members.clearfix{
    align-items: center;
    /* margin: 0px 20% 0px 20%; */
    justify-content: center;
    /* display: inline-flex; */
    width: 100%;
    /* display: flex; */
    
}
.team-members.clearfix .member {
    background-image: url('./img/low-poly-grid-haikei.svg');


    text-align: center;
    -webkit-box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
    box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
    border-radius: 10px;
    margin: 1%;

}
.member-img{
    object-fit: cover;
    background-color: aliceblue;

}
.member-social{
    padding-top: 25px;    
    background: none;
}
/* Style for the team member container */

@media screen and (min-width: 1199px) {
    .team-members.clearfix  {
        display: flex;
    }
}