@import "./../styles/variables.scss";


.container{
    height: 100vh;//houni takhta kobr l container par rapport lel page

}
.container .content {
    width: 100%;
    height: 40vh;//houni takhtar kadeh kobt l partie fil container
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: minmax(80%, auto);    // grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); // adjust the 200px to suit your needs


    .box {
        padding: 5%;
        border-radius: 10px;
        border: 1px solid $soft-bg;
        background-color: rgb(7, 45, 57);
        width: 100%;
        font-size: 70%;


        
    }

    .box1 {
        grid-column: span 1;
        grid-row: span 3;


        
    }
    .box4 {
        grid-column: span 1;
        grid-row: span 3;
        
    }
    .box7 {
        grid-column: span 2;
        grid-row: span 2;

    }

}
.menu {
    display: flex;
    flex-direction: row;

   

    .menuPure {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;



        .icon {
            height: 16px;
            width: 16px;


        }

        .item {

            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            .title {
                font-size: 12px;
                font-weight: 20;
                color: $soft-color;

            }

            .listItem {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;

                &:hover {
                    background-color: so;
                }

            }
        }

    }
}
// @media (max-width: 600px) {
//     .container .content {
//         grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
//     }
// }