.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    width: 100%;
    background: #000000;
    padding-bottom: 30px;
}

.headerS {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #739134;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 140px;
    height: 6px;
    background: #739134;
    border-radius: 6px;

}

.inputs {
    margin-top: 55px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
    justify-content: center; /* Center the child 
    horizontally */
    padding: 0px ;
    padding-top: 1rem;;
}

.container .formcontainer{
    width: 50%;
    align-items: center;
    /* display: flex; */
}
.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 6px;
    margin-top: 27px;
    color: #797979;
    font-size: 19px;
    text-align: center;
}

.forgot-password span {
    color: #4c5f2e;
    cursor: pointer;
}
.forgot-password span:hover {
    color: #81a336;
    /* cursor: pointer; */
}

.submit-container {
    flex-direction: column;
    display: flex;
    /* justify-content: center; Optional: Adjust as needed */
    align-items: center; /* Optional: Adjust as needed */
    gap: 10px; /* Optional: Adjust as needed */
    margin-top: 20px; /* Adjust as needed */
}
  

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c5f2e;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #eaeaea;
    color: #676767;
}
.hh {
color: #739134;
}