.header {
  background-color: #f8f9fa;
  padding: 20px;
  width: 100%;
  /* Occupy entire width of the viewport */
}

.header a {
  text-decoration: none;
  color: #333;
}

.header__inner {
  display:inline-flex;
  justify-content: space-between;
  /* Align logo to the left and nav to the right */
  align-items: baseline;
}

.header__logo {
  font-size: 36px;
  font-weight: bold;
  order:-1;
  
 
  
}

.header__nav {
  display: flex;
  align-items: flex-start;
}

.header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-list li {
  margin-right: 20px;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.button--secondary:hover {
  background-color: #007bff;
  color: #fff;
}

@media only screen and (max-width: 425px) {
  .header__logo {
    display: none;
  }
}