.header {
  background-color: #f8f9fa;
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #333;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.header__inner {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* Align items vertically in the center */
}


.header__logo {
  font-size: 36px;
  font-weight: bold;
  float: left;
  position: fixed;
  margin: 10px 15px 15px 10px;
  left: 0;
  display: inline;

}

.header__nav {
  margin-left: auto;
  position: relative;
  justify-content: space-between;

  right: 0;
  /* Push nav items to the right */
}

.header__nav-list {
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  right:0;
  display: flex;
}

.header__nav-list li {

  margin: 0 12px;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.button--secondary:hover {
  background-color: #007bff;
  color: #fff;
}

@media only screen and (max-width: 425px) {
  .header__logo {
    display: none;
  }
}