.about-us-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us-content {
    display: flex;
    align-items: center;
  }
  
  .about-us-image {
    flex: 0 0 50%; /* Take up 50% of the available space */
    margin-right: 20px;
  }
  
  .about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-us-text {
    flex: 1; /* Take up remaining space */
  }
  
  .about-us-text p {
    line-height: 1.6;
    text-align: justify;
  }
  