.contact-form {
  width: 80%; /* Adjust width to 80% of the container */
  max-width: 600px; /* Limit maximum width */
  margin: 0 auto; /* Center the form horizontally */
  padding: 40px; /* Add padding for spacing */
  border: 1px solid #ccc;
  border-radius: 10px; /* Add border radius for rounded corners */
  background-color: #f9f9f9;
  text-align: center; /* Center align form elements */

}


.contact-form label {
  font-weight: bold;;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 15px; /* Increase padding for input fields */
  margin: 10px 0 20px 0; /* Add margin for spacing */
  border: 1px solid #ccc;
  border-radius: 6px; /* Add border radius for rounded corners */
  box-sizing: border-box;
}

.contact-form textarea {
  height: 150px; /* Increase height for textarea */
}

.contact-form input[type="submit"] {
  width: 100%; /* Make button full width */
  background-color: #4caf50;
  color: white;
  padding: 15px 0; /* Adjust padding for button */

  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px; /* Increase font size for button */
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;

}
.row {
  display: fixed;
  justify-content: center;
  align-items: center;
}
.form-control.formInput{
  width: 150%;
  padding: 15px;
}
.submit-btn.btn.btn-primary{
  width: 150%;
}