.Sidebar {
    width: 10rem; /* Default width */
    flex-shrink: 0;
    border-right: 0.5px solid rgb(209, 178, 178);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .top {
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 1.25rem;
            font-weight: bold;
            color: #6439ff;
        }
    }

    hr {
        height: 0%;
        border: 0.5px solid rgb(209, 178, 178);
    }

    .center {
        padding-left: 0vw;
        flex-grow: 1;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 0.625rem; /* Adjusted font size for responsiveness */
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 0.3125rem; /* Adjusted padding for responsiveness */
                cursor: pointer;

                &:hover {
                    background-color: #ece8ff;
                }

                .icon {
                    font-size: 1rem;
                    color: #7451f8;
                }

                span {
                    font-size: 0.8125rem; /* Adjusted font size for responsiveness */
                    font-weight: 600;
                    color: #888;
                    margin-left: 0.625rem; /* Adjusted margin for responsiveness */
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 0.625rem; /* Adjusted margin for responsiveness */

        .colorOption {
            width: 1.25rem; /* Adjusted width for responsiveness */
            height: 1.25rem; /* Adjusted height for responsiveness */
            border-radius: 0.3125rem; /* Adjusted border radius for responsiveness */
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 0.3125rem;

            &:nth-child(1) {
                background-color: whitesmoke;
            }

            &:nth-child(2) {
                background-color: #333;
            }
        }
    }

    &.hidden {
        display: none;
    }

    // Responsive styles
    @media screen and (max-width: 768px) {
        width: 70%; /* Adjusted width for smaller screens */
    }
}
