/* background-color: #141726;
font-family: calibri;
padding-right: 15px;
padding-left: 15px; */
/* padding: 20px; */
/* width: 100%;
justify-content: space-between;
margin-top: 0px; */

.header{
  background-color: #141726;
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
  border-bottom-width: 11px;

}


.header a {
  text-decoration: none;
  color: #d2c1b0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.header__inner {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Align items vertically in the center */
}
.header__nav .header__nav-listWest {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 0%;

}

.header .header__logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  position: flex-start;
  margin: 0px 0px 0px 0px;
  left: 10px;
  display: inline;
  align-items: center;
  

}
.header a:hover {
  color: #4c5f2e;
  

}
.header-section.clearfix {
  background-color: #09101a;
  border-bottom-width: 11px;
}
.header-section{
  position: sticky;
}
.header__nav {
  /* margin-left: auto; */
  position: relative;
  justify-content: space-between;

  right: 0;
  /* Push nav items to the right */
}

.header__nav-list {
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  right:0;
  display: flex;
}

.header__nav-list li {

  margin: 0 12px;
}

.sgnp .button {
  padding: 10px 5px;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid #739134
  ;
  color: #739134
  ;
  /* align-self: flex-end; */
}
.sgnp{
  margin-left: 10px;
}
.header .button--secondary:hover {
  background-color: #739134
  ;
  color: #fff;
  padding-bottom: 10px;

  
}

@media only screen and (max-width: 425px) {
  .header__logo {
    display: none;
  }
  .Titre{
    display: none;
  }
  .header__nav-list {
    display: none;
  }
}
@media only screen and (min-width: 768px){
  .bar1, .bar2, .bar3{
    display: none;
  }
}

.ham {
  display: inline-block;
  cursor: pointer;
  padding: 0%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.site-btn{
  margin-bottom: 1%;
}
Header .Titre{
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #d2c1b0;
  margin: 0px 0px 0px 0px;
  left: 10px;
  display: inline;
}
.menu-list li{
  color: #fff;
}
